<h2><%= @list.name %></h2>
<%= render partial: 'tasks/task', locals: { :list => @list, :task => @task } %>

<% @tasks.each do |t| %>
<ul>
	<li><%= t.name %>
		<%= display_date(t.due_date) %>
		<%= time_remaining(t.due_date) %>
		<% t.users.each do |n| %>
			<%= n.email %>
		<% end %>
		<% t.tags.each do |t| %>
			<%= t.name %>
		<% end %>
	</li>
</ul>
<% end %>