<div class="ui relaxed divided items">
<% if @tasks.any? %>
	<% @tasks.each do |task| %>
	<div class="item db card">
		<h4 id="task-color">
			<%= link_to task.name, edit_list_task_path(id: task.id, list_id: task.list.id) %>
		</h4>
		<p>Due Date: <%= pretty_date(task.due_date) %> ||
		   <% if task.due_date > DateTime.now %>
		   		Time remaining: <%= time_remaining(task.due_date) %>
		   <% else %>
		   		Time remaining: Expired
		   <% end %>
		</p>
		<% if !task.users.exists?(name: current_user.name) %>
			<p>Assigned to:
				<% task.users.each do |u| %>
					<%= u.name %>
				<% end %>
			</p>
		<% end %>
		<p id="tag-color">
			<% task.tags.each do |t| %>
			<%= t.name %>
			<% end %>
			<% if task.users.exists?(name: current_user.name) %>
			<%= button_to "Completed?", list_task_path(id: task.id, list_id: task.list.id), class: "btn btn-xs btn-login sidebs", method: :delete %>
		<% end %>
		</p>
	</div>
	<br>
	<br>
	<% end %>
<% else %>
	<h5>No Current Tasks</h5>
<% end %>
</div>