<% if @tasks.any? %>
	<% @tasks.each do |task| %>
	<div class="item db card" id="task-<%= task.id %>">
		<h4 id="task-color">
			<%= link_to task.name, edit_list_task_path(id: task.id, list_id: task.list.id) %>
		</h4>
		<p>Due Date: <%= task.due_date %>
		</p>
			<p>Assigned to:
				<% task.users.each do |u| %>
					<%= u.name %>
				<% end %>
		</p>
		<p id="task-color">
			<% task.tags.each do |t| %>
				<span class="badge badge-info"><%= t.name %></span>
			<% end %>
		</p>
			<%= button_to "Done", complete_list_task_path(id: task.id, list_id: task.list.id), class: "btn btn-xs btn-login sidebs", method: :put, data: {confirm: "Are you sure?"} %>
	</div>
	<br>
	<br>
	<% end %>
<% else %>
	<h5>No Current Tasks</h5>
<% end %>